<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>App</title>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
    <nav>
        <a href="/"><img src="/assets/img/apple-touch-icon.png" alt="Thought bubble"/></a>

        <div class="navlink" id="private">My Thoughts</div>
        
        <div class="navlink" id="public">Public Thoughts</div>

        <div class="navlink" id="changepass">Change Password</div>
        
        <div class="navlink" id="logout"><a href="/logout">Logout</a></div>
    </nav>

    <section id="content">

    </section>

    <script src="/assets/appBundle.js"></script>
</body>

</html>