*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.map-container {
    height: 74vh;
}
.thoughtForm{
    height: 20vh;
    text-align: center;
    border: black solid 3px;
}
nav{
    height: 5vh;
    background-color: firebrick;
}
nav *{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    float: left;
    padding-left: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
textarea{
    margin-top: 2vh;
    margin-bottom: 1vh;
    resize: none;
    font-size: 12pt;
}
.sidebar {
    background-color: rgba(35, 55, 75, 0.7);
    color: #FFFFFF;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.map-stuff {
    position: relative;
    padding-bottom: 0;
}

.crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    size: 25px;
    z-index: 1;
    font-weight: bold;
    user-select: none;
}

.changePassForm {
    padding-top: 5px;
    padding-bottom: 5px;
}